body {
	margin: 0px;   
	padding: 0px; 
	width: 100%;
	background-color: #7D746B;	
	font: 1em Verdana,sans-serif;
	color: #545257;
}

header {
	margin: 0px;
	width: 100%;
	height: 19em;
	background-color: #464A47;
	border-bottom: 10px solid #545257;
}

/* Main Nav */

nav {
	margin: 0px;
	padding: 0px;
	width: 100%;
	height: 2.5em;
	background-color: #8C968E;
	font-family: 'Rock Salt', cursive;
	font-size: 2.5em;
	text-align: right;

}

/* Left Nav */

aside {
	float: left;
	margin: 70px 25px;
	padding: 3%;
	width: 200px;
	height: 1050px;
	border: 2px dotted #000000;
	background-color: #968F87;
	font-family: 'Waiting for the Sunrise', cursive;
	font-size: 1.5em;
}

/* Latest DBC Challenge */

section {
	float: left;
	margin: 70px 25px 25px 25px; 
	padding: 5px 5px 250px 5px;
	width: 800px;  
	height: 455px;
	border: 2px dotted #000000;
	background-color: #968F87;
	text-align: center;
	font-family: 'Waiting for the Sunrise', cursive;
	font-size: 1.5em;
	overflow: auto;
}

/* Portfolio */

article {
	float: left;
	margin: 25px 25px 0 25px; 
	padding: 5px;
	width: 800px;  
	height: 375px;
	border: 2px dotted #000000;
	background-color: #968F87;
	text-align: center;
	font-family: 'Waiting for the Sunrise', cursive;
	font-size: 1.5em;
}

footer {
	clear: both; 
	border-top: 10px solid #545257;
	margin: 0px;
	width: 100%;
	height: 4em; 
	background-color: #464A47;
	font-family: 'Rock Salt', cursive;
	font-size: 1em;
	color: #7F9685;
	text-align: center;
}

/* DBC Logo */

#logo {
	margin: 50px;
	padding: 0;
	float: left;
	width: 400px;
	height: 200px;
	float: left;
	background-image: url('../images/dbc_logo.png');
	background-repeat: no-repeat;
}


/* My Name */

#name {
	margin: 0;
	padding: 100px 0 0 0;
}


/* My Pic */

#headshot {
	margin: -200px 0 0 0;
	padding: 0;
	float: right;
	width: 300px;
	height: 275px;
	background-image: url('../images/M3_v6.jpg');
	background-repeat: no-repeat;
}

/* Social Media Links in Nav Bar */

#socmed {
	margin: 0px;
	padding: 0px;

}



/* Portfolio Section */

#leftimg {
	margin: 15px 15px 15px 50px;
	padding: 5px;
	float: left;
	background-image: url('../images/1.jpg');
	background-repeat: no-repeat;
	width: 200px;
	height: 200px;
}

#centerimg {
	margin: 15px;
	padding: 5px;
	float: left;
	background-image: url('../images/2.jpg');
	background-repeat: no-repeat;
	width: 200px;
	height: 200px;
}

#rightimg {
	margin: 15px;
	padding: 5px;
	float: left;
	background-image: url('../images/3.jpg');
	background-repeat: no-repeat;
	width: 200px;
	height: 200px;
}


#blog {
	height: 875px;
	overflow: auto;
	padding: 0px 20px 10px 20px;
}



/* More specific styling and pseudo-classes */

a:link {color:#916F50;}
a:visited {color:#464A47;}
a:hover {color:#826CB0;}
a:active {color:#DDCEFD;}

.purdy {
	font-style: italic;
	font-size: 3em;
	color: #7F9685;
	font-family: 'Rock Salt', cursive;
}


